.venv/etc
.venv/Scripts
.venv/Share
.venv/Lib
.venv/package_info.json
.venv/pyvenv.cfg
.idea/
lib/
lib64/
bin/
include/
pyvenv.cfg
Scripts/activate.bat
Scripts/deactivate.bat
Scripts/Activate.ps1
Scripts/activate
Scripts/*.*
Scripts
