/* Basic Reset */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.floor-plan-container {
    width: 90vw;
    max-width: 1300px;
    position: relative;
    padding-bottom: 74.07%;
    background-image: url('image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-button {
    position: absolute;
    padding: 8px 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 10px;
    transition:
        transform 0.2s ease-out,
        box-shadow 0.2s ease-out,
        background-color 0.2s ease-out;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.nav-button:active {
    transform: translateY(0) scale(1.0);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}


#btn-bedroom {
    top: 54%;
    left: 15%;
}

#btn-bath-left {
    top: 35%;
    left: 8.5%;
}

#btn-bath-right {
    top: 19%;
    left: 82%;
}

#btn-living {
    top: 41.5%;
    left: 39%;
}

#btn-kitchen {
    top: 54%;
    left: 75%;
}

#btn-dining {
    top: 28%;
    left: 76%;
}